/* div {
  border-color: red;
  border: 1px dashed;
} */

#menu-bar {
  box-shadow: none;
}

#body-wrapper {
  background-color: #fff;
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
}

#news-container {
  width: 60%;
  margin-right: 40%;
}

.article-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100%;
  background-size: cover;
  margin-bottom: 5vh;
}

.news-title {
  color: white;
  font-weight: bolder;
  margin: 0 auto;
  padding: 60px;
  font-size: 2vw
}

.news-source {
  color: white;
  bottom: 50px;
}

/* relevant styles */
.article-wrapper img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%)
}

.img-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img-shadow p:first-child {
  margin: 30% 15% 15%;
  font-weight: 900;
  font-size: 2.5vw;
  color: white;
}

.img-shadow span {
  cursor: pointer;
  font-size: 30px;
  margin: 1vw;
}

.img-shadow p:nth-child(2) {
  margin: 15% 10%;
  font-size: 1.2vw;
}

#flag-span {
  /* this should be top left of the img */
  position: relative;
  bottom: 0;
  right: 0;
}

.article-wrapper:hover .img-shadow {
  visibility: visible;
  opacity: 1;
}

#side-panel {
  width: 30%;
  position: fixed;
  margin-left: 30%;
}

#side-panel div {
  margin-bottom: 10vh;
}

#comment-panel {
  width: 30%;
  position: fixed;
  margin-left: 30%;
  background-color: white;
  height: 100%;
}

.top-stories {
  justify-content: space-between;
}

.category {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
  color: #777
}

.top-stories img {
  width: 30%;
  height: 30%;
  margin: 1%;
  max-width: 120px;
  max-height: 120px;
  border-radius: 2px;
}

.top-stories img:hover .img-shadow {
  visibility: visible;
  opacity: 1;
}

@media(max-width: 500px){
  #side-panel {
    display: none;
  }

  #news-container {
    width: 80%;
    margin: auto;
  }
}

/* COMMENTS THING BELOW */

.detailBox {
  border:0px solid #bbb;
}
.titleBox {
  padding:10px;
}
.titleBox label{
color:#444;
margin:0px !important;
display:inline-block;
}

.actionBox .form-group * {
  width:100%;
}
.taskDescription {
  margin-top:10px 0;
}
.commentList {
  padding:0;
  list-style: none;
  height: 45vh;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}
.actionBox {
  border-top:0px dotted #bbb;
  /* padding:10px; */
}